@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

main {
    position: relative;
}

.results {
    position: absolute;
    top: -90px;
    width: 100vw;
    text-align: center;
}

.results>.winner {
    font-family: 'Inter Bold';
    font-size: 40px;
}

.results>.moves {
    font-family: 'Inter';
    font-size: 22px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 30px;
}

.player-container,
.cpu-container {
    flex: 0 0 min(90vw, 320px);
}

.name {
    text-align: center;
    font-family: 'Inter';
    font-size: 14px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #ABABAB;
}

.options>div {
    flex: 0 0 30%;
    font-size: 45px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.player-options .scissors:hover {
    background-color: #F3D7D7;
}

.player-options .rock:hover {
    background-color: #E8FFE2;
}

.player-options .paper:hover {
    background-color: #E5F9FF;
}

.score-counter {
    text-align: end;
    font-size: 13px;
    font-family: 'Inter';
    margin-top: 10px;
}
