@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

main {
    position: relative;
}

.results {
    position: absolute;
    top: -80px;
    width: 100vw;
    text-align: center;
}

.results>.winner {
    font-family: 'Inter Bold';
    font-size: 40px;
}

.results>.moves {
    font-family: 'Inter';
    font-size: 22px;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-options,
.cpu-options {
    flex: 0 0 min(90vw, 320px);
}

.options {
    display: flex;
}
